# build output
dist/
.astro/

# dependencies
node_modules/
claudeseo/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db
DB.txt
design.md
MVP_Web_Resuelve_Tu_Herencia.md
security-audit.md

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build / Deployment directories
.vercel/
.netlify/
.output/